/* General */  
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
  
/* Main Content */
.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Form Container */
.login-form-container {
  background-color: #d2b48c;
  padding: 20px;
  margin-top: -50px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.login-form-container h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
}

.login-options a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Form Styles */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: left;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.login-form button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #444;
}
